# Group 1 Capstone Project Work
### Make sure to make / checkout your own branch before making changes

# Maddie Hince

In [10]:
import pandas as pd
import sqlite3

df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df.head()


conn = sqlite3.connect('zippedData/im.db.zip')
pd.read_sql("""SELECT *""")

DatabaseError: Execution failed on sql '
SELECT *
FROM im
': file is not a database

# Cat Murad

In [2]:
import pandas as pd
import sqlite3

df_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
df_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [5]:
conn = sqlite3.connect('im.db')

In [22]:
pd.read_sql('select * from movie_akas', conn)

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [13]:
pd.read_sql('select * from movie_basics', conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [27]:
pd.read_sql('''select b.primary_title, b.start_year, b.genres, r.averagerating, r.numvotes, a.language 
        from movie_basics b
        join movie_ratings r
        on b.movie_id = r.movie_id
        join movie_akas a
        on r.movie_id = a.movie_id
        where start_year >= 2012 and a.language = 'en'
        order by averagerating desc''', conn)

,primary_title,start_year,genres,averagerating,numvotes,language
0,Exteriores: Mulheres Brasileiras na Diplomacia,2018,Documentary,10.0,5,en
1,The Paternal Bond: Barbary Macaques,2015,Documentary,10.0,5,en
2,The Paternal Bond: Barbary Macaques,2015,Documentary,10.0,5,en
3,Once Upon a Time ... in Hollywood,2019,"Comedy,Drama",9.7,5600,en
4,Once Upon a Time ... in Hollywood,2019,"Comedy,Drama",9.7,5600,en
...,...,...,...,...,...,...
15274,The Autobots,2015,"Adventure,Animation,Family",1.0,112,en
15275,A Light in the Distance,2014,Drama,1.0,388,en
15276,A Rain Woman,2016,Horror,1.0,262,en
15277,Cherry Blossoms,2017,Drama,1.0,20,en
15278,"Girls, Dance with the Dead",2015,Comedy,1.0,385,en

# Elijah Soba

# Luis Estrada

# Kilmar Lazo

# Michael Eugene